In [1]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
import ipywidgets as widgets
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Makinsk,KZ,2021-08-14 19:14:32,52.6292,70.4169,59.54,60,100,2.30
1,1,Bonavista,CA,2021-08-14 19:10:21,48.6499,-53.1147,66.11,91,98,11.23
2,2,Rocha,UY,2021-08-14 19:14:33,-34.4833,-54.3333,55.47,91,100,5.73
3,3,Port Alfred,ZA,2021-08-14 19:14:33,-33.5906,26.8910,58.75,74,100,13.47
4,4,Lompoc,US,2021-08-14 19:13:46,34.6391,-120.4579,93.02,60,1,9.22

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
import ipywidgets as widgets
widgets.IntSlider()

IntSlider(value=0)

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# We gettin Clouds, yo
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Them winds goin fast, bruh
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Georgetown,MY,2021-08-14 19:14:34,5.4112,100.3354,81.90,88,40,4.61
10,10,Banda Aceh,ID,2021-08-14 19:14:34,5.5577,95.3222,78.51,81,100,14.94
12,12,Andros Town,BS,2021-08-14 19:10:14,24.7000,-77.7667,87.76,66,100,20.45
33,33,San Alberto,CO,2021-08-14 19:14:40,7.7611,-73.3922,83.50,77,97,0.72
34,34,Sao Filipe,CV,2021-08-14 19:14:40,14.8961,-24.4956,75.88,78,66,10.80
35,35,Lagos,NG,2021-08-14 19:13:35,6.5833,3.7500,76.21,83,9,7.20
39,39,Ugoofaaru,MV,2021-08-14 19:14:42,5.6667,73.0000,82.13,74,100,17.83
40,40,Korla,CN,2021-08-14 19:14:42,41.7597,86.1469,80.64,29,100,3.36
44,44,Gigmoto,PH,2021-08-14 19:14:43,13.7796,124.3900,78.58,76,100,2.80
52,52,Albany,US,2021-08-14 19:14:45,42.6001,-73.9662,81.81,47,36,10.67

In [14]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
8    Georgetown      MY     81.90   5.4112  100.3354
10   Banda Aceh      ID     78.51   5.5577   95.3222
12  Andros Town      BS     87.76  24.7000  -77.7667
33  San Alberto      CO     83.50   7.7611  -73.3922
34   Sao Filipe      CV     75.88  14.8961  -24.4956
35        Lagos      NG     76.21   6.5833    3.7500
39    Ugoofaaru      MV     82.13   5.6667   73.0000
40        Korla      CN     80.64  41.7597   86.1469
44      Gigmoto      PH     78.58  13.7796  124.3900
52       Albany      US     81.81  42.6001  -73.9662

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Georgetown,MY,81.90,5.4112,100.3354,Cititel Penang
10,Banda Aceh,ID,78.51,5.5577,95.3222,Sulthan Hotel International
12,Andros Town,BS,87.76,24.7000,-77.7667,Hanks place
33,San Alberto,CO,83.50,7.7611,-73.3922,Hotel San Alberto Plaza
34,Sao Filipe,CV,75.88,14.8961,-24.4956,Hotel Xaguate
35,Lagos,NG,76.21,6.5833,3.7500,
39,Ugoofaaru,MV,82.13,5.6667,73.0000,Ungoofaaru Inn
40,Korla,CN,80.64,41.7597,86.1469,Gulisitan Hotel
44,Gigmoto,PH,78.58,13.7796,124.3900,Cj's Travellers Inn
52,Albany,US,81.81,42.6001,-73.9662,

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))